.all-all
{
	background-color:snow;
}
.div-all
{
	background-color:white;
	padding:0px;
}
.close-to
{
	margin:0px;
	padding:0px;
}

.login-admin
{
    width: 500px;
    height: 300px;
    margin:150px 200px 200px 500px;
    background-image: url('/static/img/bj.jpg');
}
.login-admin-input
{
    width: 400px;
    height: 200px;
    margin: 50px 30px;
}
.users-list
{
	margin: 10px;
}