.all-all
{
	background-color:snow;
}
.div-all
{
	background-color:white;
}
drop-tb-width
{
	width:300px;
}
drop-tbr
{
	color:orange;
}
.search-width
{
	height:56px;
}
.search
{
	margin-top:10px;
}
.search-input
{
	margin:0px;
}
.input-style
{
	margin:10px,0px,10px,0px;
}
.front-page
{
	border-bottom:5px solid OrangeRed ;
}
.eigth-div
{
	background-color:white;
	border-style:solid;
	border-color:snow;
	padding:0px 0px 0px 0px;
	text-align:center;
}
.eigth-font-top
{
	font-size:14px;
}
.eigth-font-bot
{
	font-size:11px;
}
.eigth-img
{
	padding: 15px 15px 3px 15px;
}
.total-eigth
{
	margin:3px 0px 3px 0px;
	border-style:solid;
}
.eigth-five-child
{	
	float:left;
	width:70px;
	height:90px;
	margin:3px 0px 3px 13px;
}
.body-frist-div
{
	margin:0px;
	border: 3px solid red;
}
.cont-main-text
{
	font-weight:900;
	text-align:left;
	color:orange;
	font-size:14px;
}
.cont-sed-text
{
	font-weight:300;
	text-align:left;
	color:orange;
	font-size:11px;
}
.cont-thd-text
{
	font-weight:300;
	text-align:left;
	color:orange;
	font-size:10px;
}
.cont-fourth-text
{
	font-weight:300;
	text-align:left;
	color:black;
	font-size:11px;
}
