.all-all
{
	background-color:snow;
}
.div-all
{
	background-color:white;
	padding:0px;
}
.close-to
{
	margin:0px;
	padding:0px;
}
.search-height
{	
	height:40px;
}
drop-tb-width
{
	width:300px;
}
.drop-tbr
{
	color:orange;
}
.search-width
{
	height:56px;
}
.search
{
	margin-top:10px;
}
.search-input
{
	margin:0px;
}
.input-style
{
	margin:10px,0px,10px,0px;
}
.front-page
{
	border-bottom:5px solid OrangeRed ;
}
.eigth-div
{
	background-color:white;
	border-style:solid;
	border-color:snow;
	padding:0px 0px 0px 0px;
	text-align:center;
}
.eigth-font-top
{
	font-size:14px;
}
.eigth-font-bot
{
	font-size:11px;
}
.eigth-img
{
	padding: 3px;
	width:30px;
}
.total-eigth
{
	margin:3px 0px 3px 0px;
}
.eigth-five-child
{	
	float:left;
	width:65px;
	height:45px;
	margin:0px 10px 0px 10px;
	padding:0px;
	border:3px solid red;
	text-align:center;
}
.eigth-five-child img
{	
	margin:0px;
	padding:0px;
	width:10px;
	height:10px;
}
.body-frist-div
{
	margin:0px;
	border: 3px solid snow;
	float:left;
	background-color:white;
}
.body-frist-div table
{
	margin:0px;
	border:0px;
}
.body-frist-div caption
{
	padding:7px 0px 1px 5px;
	text-align:left center;
	background-color:white;
}
.cont-main-text
{
	font-weight:900;
	text-align:left;
	color:#ff6600;
	font-size:15px;
}
.cont-sed-text
{
	font-weight:300;
	text-align:left;
	color:#ff6600;
	font-size:11px;
}
.cont-thd-text
{
	font-weight:300;
	text-align:left;
	color:orange;
	font-size:10px;
}
.cont-fourth-text
{
	font-weight:300;
	text-align:left;
	color:black;
	font-size:11px;
}
.cont-head-text
{
	font-weight:700;
	text-align:left;
	color:#ff6600;
	font-size:14px;
}
.body-all-div
{
	margin:0px;
	border: 10px solid snow;
	padding:0px;
}
.body-frist-div-bottom
{
	margin:0px;
	border: 3px solid snow;
	float:left;
	background-color:#dedef8;
	width:20%;
}
.body-frist-div-bottom table
{
	margin:0px;
}
.body-frist-div-bottom p
{
	font-size:10px;
}
.body-frist-div-bottom img
{
	width:50px;
}
.body-frist-div-bottom caption
{
	padding:7px 0px 1px 5px;
	text-align:left center;
	background-color:white;
}
.body-div-contracts
{
	margin:0px;
	border: 3px solid snow;
	float:left;
	background-color:white;
	width:16%;
}
.body-div-contracts img
{
	width:100px;
	height:50px;
}
.contracts-head-text
{
	font-size:18px;
}
.body-div-contracts-end
{
	margin:5px;
	padding:0px;
	border: 0px solid snow;
	float:left;
	background-color:#dedef8;
	width:14%;
}
.table-div-every
{
	border-bottom:10px solid snow;
	margin:0px;
}
.href-non-line
{
	text-decoration-line: none;
}
.tabs-bottom-line
{
	border-bottom: 3px solid #FF6600;
}
