.all-all
{
	background-color:snow;
}
.div-all
{
	background-color:white;
	padding:0px;
}
.close-to
{
	margin:0px;
	padding:0px;
}

.login-admin
{
	margin:100px 100px 100px 100px;
}
.login-admin-input
{
	margin:200px 100px 100px 200px;
}
.users-list
{
	margin: 10px;
}