{% extends "layout.html" %}
<script src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" rel="stylesheet">
{% block topad %}
	<div class="container btn-danger" style="margin-top:0px;">
		<img src="static/img/top.png">
	</div>
{% endblock %}
{% block search %}
<div class="container search">
	<div class="row">
		<div class="col-md-2">
			<a href="#"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-2">
			<a href="#"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-10 close-to">
					<label><input type="text" size="58" style="height:43px;" id="one_search_text"  placeholder="请输入搜索内容"></label>
					<label>
						<span><a href="https://www.baidu.com">品牌房源</a></span>
						<span><a href="https://www.baidu.com">热租房源</a></span>
						<span><a href="https://www.baidu.com">求租</a></span>
						<span><a href="https://www.baidu.com">阳光主卧</a></span>
						<span><a href="https://www.baidu.com">独立卫生间</a></span>
					</label>
				</div>
				<div class="col-md-2 close-to">
					<lable><button id="sech-btn" type="button" class="btn btn-info search-height">搜房源</button></label>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button  type="button" class="btn btn-danger search-height">&nbsp;&nbsp;&nbsp;免费发布信息&nbsp;&nbsp;&nbsp;</button>
		</div>
	</div>
</div>
<script>
$("#sech-btn").bind("click",test);
$("#one_search_text").select2({tags:["red", "green", "blue"]});
</script>
{% endblock %}

{% block mainlink %}
<p>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}58同城</a><span>></span>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}房产信息</a><span>></span>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}58出租</a>
</p>
<p>
	<a href="https://www.baidu.com">区域^</a>
	<a href="https://www.baidu.com">地铁线路^</a>
	<a href="https://www.baidu.com">{{session['master_city_name']}}小区</a>
	<a class="pull-right" href="https://www.baidu.com">轻松一点，地图找房</a>
</p>
{% endblock %}
