{% extends "layout.html" %}
<script src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" rel="stylesheet">
{% block topad %}
	<div class="container btn-danger" style="margin-top:0px;">
		<img src="static/img/top.png">
	</div>
{% endblock %}
{% block search %}
<div class="container search">
	<div class="row">
		<div class="col-md-2">
			<a href="/"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-2">
			<a href="/"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-10 close-to">
					<label><input type="text" size="58" style="height:43px;" id="one_search_text"  placeholder="请输入搜索内容"></label>
					<label>
						<span><a href="https://www.baidu.com">品牌房源</a></span>
						<span><a href="https://www.baidu.com">热租房源</a></span>
						<span><a href="https://www.baidu.com">求租</a></span>
						<span><a href="https://www.baidu.com">阳光主卧</a></span>
						<span><a href="https://www.baidu.com">独立卫生间</a></span>
					</label>
				</div>
				<div class="col-md-2 close-to">
					<lable><button id="sech-btn" type="button" class="btn btn-info search-height">搜房源</button></label>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button  type="button" class="btn btn-danger search-height">&nbsp;&nbsp;&nbsp;免费发布信息&nbsp;&nbsp;&nbsp;</button>
		</div>
	</div>
</div>
<script>
$("#sech-btn").bind("click",test);
//$("#one_search_text").select2({tags:["red", "green", "blue"]});
</script>
{% endblock %}

{% block mainlink %}
<p>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}58同城</a><span>></span>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}房产信息</a><span>></span>
	<a style="text-decoration-line: none;" href="https://www.baidu.com">{{session['master_city_name']}}58出租</a>
</p>
<p style="font-size: 16px;font-weight: 900px;">
	<a href="https://www.baidu.com">区域^</a>&nbsp;&nbsp;&nbsp;
	<a href="https://www.baidu.com">地铁线路^</a>&nbsp;&nbsp;&nbsp;
	<a href="https://www.baidu.com">{{session['master_city_name']}}小区</a>
	<a class="pull-right" href="https://www.baidu.com">轻松一点，地图找房</a>
</p>
<div id="child_city_names">
</div>
<div id="city_fangzu_levels">
</div>
<div>
	<p>
		<label for="rom"> 厅室:</label>
		<label for="rom"> <input type="radio" value="0" checked="checked" style="visibility: hidden;" name="rom" id="romnolimit"/>不限</label>
		<label for="rom"> <input type="radio" value="1" style="visibility: hidden;" name="rom" id="rom_one"/>一室</label>
		<label for="rom"> <input type="radio" value="2" style="visibility: hidden;" name="rom" id="rom_two"/>两室</label>
		<label for="rom"> <input type="radio" value="3" style="visibility: hidden;" name="rom" id="rom_three"/>三室</label>
		<label for="rom"> <input type="radio" value="4" style="visibility: hidden;" name="rom" id="rom_four"/>四室</label> 
		<label for="rom"> <input type="radio" value="5" style="visibility: hidden;" name="rom" id="rom_four_over"/>四室以上</label>
	</p>
	<p>
		<label for="way"> 方式:</label>
		<label for="way"> <input type="radio" value="0" checked="checked" style="visibility: hidden;" name="rental_manner" id="rentalnolimit"/>不限</label>
		<label for="way"> <input type="radio" value="1" style="visibility: hidden;" name="rental_manner" id="rentalall"/>整套出租</label>
		<label for="way"> <input type="radio" value="2" style="visibility: hidden;" name="rental_manner" id="rentalsigrom"/>单间出租</label> 
		<label for="way"> <input type="radio" value="3" style="visibility: hidden;" name="rental_manner" id="rentalsigbed"/>床位出租</label> 
	</p>
</div>
<div id="brand_agents">
</div>
<div>
	<p>
		<label for="chaoxiang"> 其他:</label>
		<label for="chaoxiang">
			<select name="direction">
				<option value="0" checked>朝向不限</option>
				<option value="1">东</option>
				<option value="2">南</option>
				<option value="3">西</option>
				<option value="4">北</option>
				<option value="5">南北</option>
				<option value="6">东西</option>
				<option value="7">东南</option>
				<option value="8">东北</option>
				<option value="8">西南</option>
				<option value="9">西北</option>
			</select>
		</label>
		<label for="zhuangxiu">
			<select name="decoration">
				<option value="0" checked>装修不限</option>
				<option value="1">毛坯</option>
				<option value="2">简单装修</option>
				<option value="3">中等装修</option>
				<option value="4">精装修</option>
				<option value="5">豪华装修</option>
			</select>
		</label>
		<label for="imghas"> <input type="checkbox" value="0" name="imghas" id="img_has"/>只看有图</label> 
		<label for="helponline"> <input type="checkbox" value="0" name="helponline" id="help_online"/>帮帮在线</label> 
	</p>
</div>
<div>
	<button type="button" class="btn btn-danger" onclick="set_fangwu_chaxun()">危险按钮</button>
</div>
{% endblock %}
{% block jsb %}
<script type="text/javascript">
	$(funciton(){
		init_fangwu_chaxun();
	});
</script>
{% endblock %}
