{% extends "layout.html" %}
{% block users %}
<div class="users-list table-responsive">
<table class="table table-bordered table-hover">
        <caption>
            <button type="button" class="btn btn-primary btn-lg pull-left" style="font-size: 10px">
                <span class="glyphicon glyphicon-th-list"></span>会议室查询
            </button>   
        </caption>
        <div class="container">
        <thead>
            <tr>
                <th><lable class="control-label pull-right">名称</lable></th>
                <th><lable>内容</lable></th>
            </tr>
        </thead>
        <tbody>
            <form class="" role="form" method="POST" action="/conference/select">
            <tr>
                    <td><label for="sqrzh" class="control-label pull-right">申请人账号:</label></td>
                    <td><input type="text" class="form-control" name="sqrzh" 
                           placeholder="请输入申请人账号"></td>
            </tr>
           <tr>
                <td><label for="sqrxm" class=" control-label pull-right">申请人姓名:</label></td>
                <td><input type="text" class="form-control" name="sqrxm" 
                           placeholder="请输入申请人姓名">
                </td>
            </tr>
           <tr> 
                <td><label for="name" class=" control-label pull-right">会议室名:</label></td>
                <td><input type="text" class="form-control" name="name"
                           placeholder="请输入会议室名">
                </td>
            </tr>
           <tr>
                <td><label for="didian" class=" control-label pull-right">会议室地点:</label></td>
                <td><input type="text" class="form-control" name="didian" 
                           placeholder="请输入会议室地点"></td>            
            </tr>
           <tr>     
                <td><label for="duomeiti" class=" control-label pull-right">是否多媒体教室:</label></td>
                <td> <input type="text" class="form-control" name="duomeiti" 
                           placeholder="请输入是否多媒体教室"></td> 
            </tr>
           <tr> 
                <td><label for="rongnarenshu" class=" control-label pull-right">容纳人数:</label></td>
                <td><input type="text" class="form-control" name="rongnarenshu" 
                           placeholder="请输入容纳人数"></td>
            </tr>
           <tr>   
                <td><label for="hueiyizhuti" class=" control-label pull-right">会议主题:</label></td>
                <td><input type="text" class="form-control" name="hueiyizhuti"
                           placeholder="请输入会议主题"></td>
            </tr>
           <tr>  
                <td><label for="shenqingzhuangtai" class=" control-label pull-right">申请状态:</label></td>
                <td><input type="text" class="form-control" name="shenqingzhuangtai" 
                           placeholder="请输入申请状态"></td>
            </tr>
           <tr>
                <td><label for="shenpi" class=" control-label pull-right">会议室审批:</label></td>
                <td> <input type="text" class="form-control" name="shenpi" 
                           placeholder="请输入会议室审批"></td>
            </tr>
           <tr>
                <td><label for="shenqliyou" class=" control-label pull-right">申请理由:</label></td>
                <td><input type="text" class="form-control" name="shenqliyou" 
                           placeholder="请输入申请理由"></td>
            </tr>
           <tr>
                <td><label for="shenqsjian" class=" control-label pull-right">申请时间:</label></td>
                <td><input type="text" class="form-control" name="shenqsjian"
                           placeholder="请输入申请时间"></td>

            </tr>
            <tr>
                <td><button type="submit" class="btn btn-default pull-right">查询</button></td>
                <td><button class="btn btn-default"  onclick="javascript:history.back(-1);">返回</button></td>
            </tr>
        </form>
        </tbody>
        </div>
    </table>  
    <div>
 
</div>
{% endblock %}
