{% extends "layout.html" %}
{% block topad %}
	<div class="container btn-danger" style="margin-top:0px;">
		<img src="static/img/top.png">
	</div>
{% endblock %}
{% block search %}
<div class="container search">
	<div class="row">
		<div class="col-md-2">
			<a href="#"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-2">
			<a href="#"><img class="search-width" src="/static/img/logo-o.png" alt="通用的占位符缩略图"></a>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-10">
					<label><input type="text" placeholder="Name"></label>
					<label>
						<span>充话费</span>
						<span>租房</span>
						<span>合租</span>
						<span>电瓶车</span>
						<span>销售急聘</span>
						<span>洗车故障</span>
						<span>装修公司</span>
						<span>同城租车</span>
					</label>
				</div>
				<div class="col-md-2">
					<lable><button type="button" class="button">搜索</button></label>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button type="button" class="button alert">&nbsp;&nbsp;&nbsp;免费发布信息&nbsp;&nbsp;&nbsp;</button>
		</div>
	</div>
</div>
{% endblock %}

{% block midnav %}
<div class="container front-page">
	<ul class="nav nav-tabs">
		<li><a href="#"><b>首页</b></a></li>
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			&nbsp;&nbsp;<b>58APP</b>&nbsp;&nbsp; <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Swing</a></li>
			<li><a href="#">jMeter</a></li>
			<li><a href="#">EJB</a></li>
			<li class="divider"></li>
			<li><a href="#">分离的链接</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			&nbsp;&nbsp;<b>商家APP</b>&nbsp;&nbsp; <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Swing</a></li>
			<li><a href="#">jMeter</a></li>
			<li><a href="#">EJB</a></li>
			<li class="divider"></li>
			<li><a href="#">分离的链接</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			&nbsp;&nbsp;<b>58公众号</b>&nbsp;&nbsp; <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Swing</a></li>
			<li><a href="#">jMeter</a></li>
			<li><a href="#">EJB</a></li>
			<li class="divider"></li>
			<li><a href="#">分离的链接</a></li>
		</ul>
		</li>

		<li><a href="#"><b>微站</b></a></li>
		<li><a href="#"><b>金融</b></a></li>
		<li><a href="#"><b>安居客</b></a></li>
		<li><a href="#"><b>中华英才网</b></a></li>
		<li><a href="#"><b>58车</b></a></li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
		<li><a href="#"><b>我要推广</b></a></li>
	</ul>
</div>
{% endblock %}
{% block mainlink %}
<div class="container">
	<div class="row total-eigth">
		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">招聘</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">全职</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">兼职</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">简历</a>
			</div>
		</div>

		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">房产</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">租房</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">二手房</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">公寓</a>
			</div>
		</div>

		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">二手车</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">3万内</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">suv</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">货车</a>
			</div>
		</div>

		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">二手市场</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">手机</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">设备</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">回收</a>
			</div>
		</div>


		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">宠物</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">狗</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">猫</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">鱼</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">用品</a>
			</div>
		</div>

		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">本地商务</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">工商</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">租赁</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">开店</a>
			</div>
		</div>
		<div class="col-md-1 eigth-div">
			<div><a href="https://www.baidu.com/"><img class="img-rounded eigth-img" src="/static/img/581.jpg" alt="通用的占位符缩略图"></a></div>
			<div><a class="eigth-font-top" href="https://www.baidu.com/" class="">本地商务</a></div>
			<div>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">工商</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">租赁</a>
				<a class="eigth-font-bot" href="https://www.baidu.com/" class="">开店</a>
			</div>
		</div>
		<div class="col-md-5">
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>   
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<ul class="list-group ">
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img  class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img  class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img  class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="list-group ">
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img class="img-rounded" src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
							<li class="list-group-item eigth-five-child">
								<div>
									<a href="https://www.baidu.com/"><img src="/static/img/581.jpg" alt="Second slide">保洁</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block bodylink %}
<div class="container">
	<div class="row">
		<div class="body-frist-div" style="float:left;width:20%;background-color: #dedef8;box-shadow: 
			inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
			<div>
				 <a><h4>杭州房产</h4></a>
			</div>
		 </div>
		 <div class="body-frist-div" style="float:left;width:20%;background-color: #dedef8;box-shadow: 
			 inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
			 <div>	
				 <a><h4>杭州房产</h4></a>
			 </div>
		 </div>
		 <div class="body-frist-div" style="float:left;width:28%;background-color: #dedef8;box-shadow: 
			 inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
			 <h4>第三列 - 分为四个盒子</h4>
		 </div>
		 <div class="body-frist-div" style="float:left;width:28%;background-color: #dedef8;box-shadow: 
			 inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
			 <h4>第四列 - 分为四个盒子</h4>
		 </div>
	 </div>
 </div>
 {% endblock %}

{% block jsb %}
<script>
$(function() {$(".dropdown-toggle").dropdown('toggle');});
$(document).ready(function() {$(document).foundation();})
</script>
{% endblock %}
