<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>会议室预订管理系统</title>
	<link rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/static/css/bounty.css">  
	<script src="/static/jquery/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bounty.js"></script>
	<script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href=" /static/ico/favicon.ico" />
	<link rel="icon" href="/static/ico/favicon.ico">
	<link rel="bookmark"  type="image/x-icon"  href="/static/ico/favicon.ico"/>
</head>
<body class="all-all">
	{% block login %}{% endblock %}
	{% block admin %}{% endblock %}
	{% block midnav %}{% endblock %}
	{% block mainlink %}{% endblock %}
	{% block bodylink %}{% endblock %}
	{% block tools %}{% endblock %}
	{% block contracts %}{% endblock %}
	{% block endlink %}{% endblock %}
	{% block jsb %}{% endblock %}
</body>
</html>
