<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>59网 -有B格的网站 </title>
	<link rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/static/css/bounty.css">  
	<script src="/static/jquery/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bounty.js"></script>
	<script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href=" /static/ico/favicon.ico" />
	<link rel="icon" href="/static/ico/favicon.ico">
	<link rel="bookmark"  type="image/x-icon"  href="/static/ico/favicon.ico"/>
</head>
<body>
	<div class="div-all" style="margin:10px 0px 0px 0px;">
		<div class="row" style="border-bottom:3px solid DarkOrange ;">
			<div class="col-md-4" style="text-align:right;border-right:1px solid #B0C4DE;">
				<img src="/static/img/logo-o.png" style="height:50px;">
			</div>
			<div class="col-md-8" style="text-align:left;">
				<p>出租频道</p>
				<p>58同城出租频道每天更新海量的出租信息，免费发布、查询，解决生活难题！</p>
			</div>
		</div>
	</div>
	<div class="all-all">
		<div style="text-align:center;padding:20px;">
			<button type="button" class="btn btn-lg" style="background-color:DarkOrange;font-family: myFirstFont;src:font-weight:bold;"><a style="text-decoration:none;" href="/">进入北京58同城</a></button>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>周边推荐城市:</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">北京</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=9">上海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=2">天津</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=37">保定</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=225">深圳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=223">广州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=115">杭州</a></li>
				</ul>
			</p>
			<hr/>
		</div>
		<div class="container">
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>搜索城市  <input type="text" id="name" placeholder=""></li>
					<li>热门</li>
					<li><a style="text-decoration:none;" href="">北京</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=9">上海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=2">天津</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=37">保定</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=225">深圳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=223">广州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=115">杭州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=102">南京</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=197">武汉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=22">重庆</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=260">成都</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=106">苏州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=112">镇江</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>华东</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>山东</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">青岛</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">济南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">烟台</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">潍坊</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">淄博</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">济宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">泰安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">聊城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">威海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">枣庄</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">德州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">日照</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东营</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">日照</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">菏泽</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">滨州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">莱芜</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">章丘</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">垦利</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">诸城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">寿光</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">龙口</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>江苏</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">苏州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南京</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">无锡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">常州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">徐州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南通</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">扬州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">盐城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">淮安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">连云港</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">泰州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宿迁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">镇江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">沐阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大丰</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">如皋</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">启东</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">溧阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">扬中</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">兴化</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">新沂</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">泰兴</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">如东</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">邳州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">沛县</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">靖江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">建湖</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东台</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">丹阳</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>浙江</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">杭州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宁波</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">温州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">金华</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">嘉兴</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">台州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">绍兴</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">湖州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">丽水</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">衢州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">舟山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">乐清</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">瑞安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">义乌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">余姚</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">诸暨</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">象山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">温岭</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">桐乡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">慈溪</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">长兴</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">嘉善</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">德清</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东阳</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>安徽</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">合肥</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">芜湖</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">蚌埠</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阜阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">淮南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">安庆</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宿州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">六安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">淮北</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">滁州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">马鞍山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">铜陵</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宣城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">亳州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黄山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">池州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">巢湖</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">和县</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">霍邱</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">桐城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宁国</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">天长</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>华南</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>广东</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">深圳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">广州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东莞</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">中山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">珠海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">惠州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">江门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">汕头</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">湛江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">肇庆</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">茂名</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">揭阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">梅州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">清远</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">韶关</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">河源</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">云浮</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">汕尾</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">台山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阳春</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">顺德</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">惠东</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">博罗</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>福建</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">福州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">厦门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">泉州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">莆田</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">漳州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宁德</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">三明</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南平</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">龙岩</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">武夷山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">石狮</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">晋江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南安</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>广西</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">柳州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">桂林</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">玉林</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">梧州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">北海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">贵港</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">钦州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">百色</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">河池</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">来宾</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">贺州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">防城港</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">崇左</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>海南</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海口</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">三亚</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">五指山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">三沙</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">琼海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">文昌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">万宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">屯昌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">琼中</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">陵水</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东方</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">定安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">澄迈</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">保亭</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">白沙</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">儋州</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>中南</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>湖北</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">武汉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宜昌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">襄阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">十堰</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黄石</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">孝感</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黄冈</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">恩施</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">荆门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">咸宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鄂州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">潜江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">天门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">仙桃</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">神农架</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宜都</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>河南</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">郑州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">洛阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">新乡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">平顶山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">安阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">焦作</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">商丘</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">开封</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">濮阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">周口</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">信阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">驻马店</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">漯河</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">三门峡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鹤壁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">济源</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">明港</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鄢陵</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">禹州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">长葛</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>湖南</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">长沙</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">株洲</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">益阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">常德</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">衡阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">湘潭</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">岳阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">郴州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">邵阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">怀化</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">永州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">娄底</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">湘西</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">张家界</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>江西</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南昌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">赣州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">九江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宜春</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">吉安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">上饶</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">萍乡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">抚州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">景德镇</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">新余</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鹰潭</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">永新</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>东北</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>辽宁</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">沈阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大连</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鞍山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">锦州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">抚顺</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">营口</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">盘锦</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">朝阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">丹东</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">辽阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">本溪</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">葫芦岛</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阜新</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">庄河</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">瓦房店</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>黑龙江</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">哈尔滨</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大庆</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">齐齐哈尔</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">牡丹江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">绥化</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">佳木斯</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鸡西</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">双鸭山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鹤岗</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黑河</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">伊春</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">七台河</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大兴安岭</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>吉林</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">长春</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">吉林</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">四平</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">延边</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">松原</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">白城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">通化</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">白山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">辽源</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>西南</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>四川</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">成都</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">绵阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">德阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">南充</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宜宾</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">自贡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">乐山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">泸州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">达州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">内江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">遂宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">攀枝花</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">眉山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">广安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">资阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">凉山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">广元</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">雅安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">巴中</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿坝</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">甘孜</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>云南</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">昆明</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">曲靖</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大理</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">红河</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">玉溪</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">丽江</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">文山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">楚雄</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">西双版纳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">昭通</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">德宏</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">普洱</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">保山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">临沧</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">怒江</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>贵州</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">贵阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">遵义</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黔东南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黔南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">六盘水</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">毕节</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">铜仁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">安顺</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黔西南</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>西藏</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">拉萨</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">日喀则</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">山南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">林芝</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">昌都</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">那曲</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿里</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">日土</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">改则</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>华北</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>河北</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">石家庄</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">保定</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">唐山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">廊坊</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">邯郸</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">秦皇岛</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">沧州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">邢台</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">衡水</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">张家口</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">承德</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">定州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">馆陶</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">张北</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">赵县</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">正定</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>山西</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">太原</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">临汾</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">大同</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">运城</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">晋中</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">长治</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阳泉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">吕梁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">忻州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">朔州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">临猗</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">清徐</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>内蒙古</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">呼和浩特</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">包头</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">赤峰</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">鄂尔多斯</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">通辽</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">呼伦贝尔</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">巴彦淖尔</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">乌兰察布</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">锡林郭勒</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">兴安盟</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">乌海</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿拉善盟</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海拉尔</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>西北</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>陕西</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">西安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">咸阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">宝鸡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">渭南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">汉中</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">榆林</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">延安</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">安康</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">商洛</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">铜川</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>新疆</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">昌吉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">巴音郭楞</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">伊犁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿克苏</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">喀什</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">哈密</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">克拉玛依</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">博尔塔拉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">吐鲁番</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">和田</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">石河子</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">克孜勒苏</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿拉尔</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">五家渠</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">图木舒克</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">库尔勒</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">阿勒泰</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">塔城</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>甘肃</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">兰州</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">天水</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">白银</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">庆阳</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">平凉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">酒泉</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">张掖</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">武威</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">定西</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">金昌</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">陇南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">临夏</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">嘉峪关</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">甘南</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>宁夏</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">银川</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">吴忠</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">石嘴山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">中卫</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">固原</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>清海</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">西宁</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海西</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海北</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">果洛</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海东</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">黄南</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">玉树</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">海南</a></li>
				</ul>
			</p>
			<div class="row" style="padding:0px;">
				<div class="col-xs-1" style="float:left;">
					<h5>其他</h5>
				</div>
				<div class="col-xs-11" style="float:left;text-align:center;padding:0px;">	
					<hr/>
				</div>
			</div>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>其他</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">香港</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">澳门</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">台湾</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">全国</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">其他</a></li>
				</ul>
			</p>
			<p>
				<ul class="list-inline" style="font-size:14px;">
					<li>热门城市</li>
					<li><a style="text-decoration:none;" href="/?current_id=1">洛杉矶</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">旧金山</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">纽约</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">多伦多</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">温哥华</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">伦敦</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">莫斯科</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">首尔</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">东京</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">新加坡</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">曼谷</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">清迈</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">迪拜</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">奥克兰</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">悉尼</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">墨尔本</a></li>
					<li><a style="text-decoration:none;" href="/?current_id=1">其他海外城市</a></li>
				</ul>
			</p>
		</div>
		<hr/>
		<div style="text-align:center;">
			<p><span>京公网备案信息110105000809</span><a href="http://www.baidu.com">京ICP证060405</a>&nbsp;&nbsp;<span>@ 58.com</span></p>
			<p><span>京ICP备10012705号-2</span>&nbsp;&nbsp;<a href="http://www.baidu.com">与58对话</a></p>
		</div>
	</div>
</body>
</html>
